.gameStatusBoardWrap {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 4rem;
}

.gameStatusBar {
    width: 45%;
    margin-bottom: 3rem;
    background: rgb(227,27,112);
    background: radial-gradient(circle, rgba(227,27,112,1) 0%, rgba(231,12,5,1) 0%, rgba(241,128,242,1) 100%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.gameStatusBar p {
    width: 90%;
    text-align: center;
    font-family: 'Courier New', monospace;
    color: black;
}

.gameBoard {
    background-color: rgb(156, 220, 250);
    width: 40rem;
    height: 30rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}